body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: hsl(257, 40%, 49%);
  background-image: url("/images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover; /* makes the image fill the screen */
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

header {
  margin: 4rem 0 5rem 0;
  max-width: 1440px;
  width: 100%;
}

.content {
  font-family: "Open Sans";
  color: #fff;
  display: flex;
  max-width: 1440px;
  gap: 6rem;
}

.image img {
}

.content h3 {
  font-size: 40px;
}

.content p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.content button {
  padding: 1rem 4rem;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  box-shadow: 2px 2px 10px 0px rgba(53, 0, 114, 0.75);
}

footer {
  max-width: 1440px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}

footer .social-icon {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

main > p {
  position: absolute;
  bottom: 2px;
}

@media screen and (max-width: 500px) {
  .main {
    background-image: url("/images/bg-mobile.svg");
    padding: 0 2rem;
  }

  header {
    margin: 2rem 0 4rem 0;
  }

  header img {
    width: 170px;
  }

  .content {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
  }

  .content h3 {
    font-size: 30px;
  }

  .image img {
    width: 100%;
    height: auto;
    display: block; /* optional, removes small bottom gap */
  }

  footer {
    justify-content: center;
    margin-bottom: 20px;
  }
}
